server:
  port: 8181

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices?createDatabaseIfNotExist=true
    username: root
    password: stl10048
    initialization-mode: always
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show_sql:true
        format_sql:true


logging:
  level:
    org:
      hibernate:
        type:trace
